/* #region ========== + ========== */

/* #endregion */

/* #region ========== CSS RESET ========== */

    /* Box sizing rules */
    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }

    /* Prevent font size inflation */
    html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    }

    /* Remove default margin in favour of better control in authored CSS */
    body, h1, h2, h3, h4, p,
    figure, blockquote, dl, dd {
    margin-block-end: 0;
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul[role='list'],
    ol[role='list'] {
    list-style: none;
    }

    /* Set core body defaults */
    body {
    min-height: 100vh;
    line-height: 1.5;
    }

    /* Set shorter line heights on headings and interactive elements */
    h1, h2, h3, h4,
    button, input, label {
    line-height: 1.1;
    }

    /* Balance text wrapping on headings */
    h1, h2,
    h3, h4 {
    text-wrap: balance;
    }

    /* A elements that don't have a class get default styles */
    a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
    }

    /* Make images easier to work with */
    img,
    picture {
    max-width: 100%;
    display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input, button,
    textarea, select {
    font-family: inherit;
    font-size: inherit;
    }

    /* Make sure textareas without a rows attribute are not tiny */
    textarea:not([rows]) {
    min-height: 10em;
    }

    /* Anything that has been anchored to should have extra scroll margin */
    :target {
    scroll-margin-block: 5ex;
    }

/* #endregion */

/* #region ========== VARIABLES ========== */
    :root{

        --main-font:'Fira Sans', sans-serif;
        --headline-font:'Fira Sans', sans-serif;

        /* --main-font:'Fira Mono', monospace;
        --headline-font:'Fira Mono', monospace; */

        --background-color: #e3ddda;
        --main-color: #2D2D2D;
        --accent-color-1: #FB531E;
        --accent-color-2: #188D82;
        --accent-color-3: #337F22;

        --curtain-center-distance: 5em;

        --animation-speed-curtain: .9s;
        --delay-curtain: 2s;

        --animation-speed-rotation: .9s;
        --delay-rotation: calc(var(--delay-curtain) + var(--animation-speed-curtain) + 0.5s);
        --animation-function-rotate: ease-in-out;

        --animation-speed-typewriter: .12s;
        --delay-typewriter: calc(var(--delay-rotation) + var(--animation-speed-rotation) + 0.5s);
        --caret: 2px solid;

        --animation-speed-skills: 0.2s;
        --animation-function-skills: ease-out;
        --delay-skills: calc(var(--delay-typewriter) + 30 * var(--animation-speed-typewriter));

        --delay-hobbies: calc(var(--delay-skills) + 8 * var(--animation-speed-skills));

        --delay-about-me: 0.3s;
    }
/* #endregion */

/* #region ========== BODY ========== */

    html, body {
    height: 100%;
    margin: 0;
    }

    body{
        background-color: var(--background-color);
        font-family: var(--main-font);
        color: var(--main-color);
        display: grid;
        
        background-image: url(images/background.png);
        background-size: 70%;

        background-position: center top; 
        background-repeat:repeat;
    }

    .accent-color-1{
        color: var(--accent-color-1);
    }

    .accent-color-2{
        color: var(--accent-color-2);
    }

    .accent-color-3{
        color: var(--accent-color-3);
    }

    a{
        text-decoration: none;
    }

    a:hover{
        color: var(--accent-color-1);
    }
/* #endregion */



main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-bottom: auto;
    margin-top: 2em;

    
}

/* #region ========== NAVIGATION ========== */
    nav{
        grid-row: 1;
        grid-column: 2;
        display: flex;
        transform: translateX(calc(-1 * var(--curtain-center-distance)));
        width: 100;
        justify-content: center;
        gap: .9em;
    }

    nav a{
        color: var(--main-color);
        font-size: 1em;
    }

    nav a:hover,
    nav a:focus{
        font-weight: bolder;

    }
/* #endregion NAVIGATION */

section.my-photo{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    width: 20em;
    height: 20em;
    margin: auto;
    place-items: center;
    transform: translateX(calc(-1 * var(--curtain-center-distance)));

    animation: 
        curtain-right var(--animation-speed-curtain) var(--delay-curtain) backwards,
        photo-appear var(--animation-speed-curtain) var(--delay-curtain) backwards;
}

@keyframes curtain-left {
    from { transform:  translate(25vw, 0) rotate(-45deg); }
    to { transform:  translate(var(--curtain-center-distance), 0) rotate(-45deg); }
}

@keyframes curtain-right {
    from { transform: translate(-25vw, 0); }
}

@keyframes photo-appear{
    from{ opacity: 0; }
}

.word-cloud{
    /* border: 1px red solid; */

    grid-row: 1 / -1;
    grid-column: 1;

    display: inline-grid;   
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "skills hello"
        "name name"
        "occup occup"
        "hobbies-2 hobbies-2";

    width: fit-content;     
    height: fit-content;    
    margin: 3rem 3rem;

    margin: auto;
    gap: 0;

    transform: translateX(var(--curtain-center-distance)) rotate(-45deg);
    font-size: 1.2rem;
    
    animation: curtain-left var(--animation-speed-curtain) var(--delay-curtain) backwards;
}
/* #region ========== WORD CLOUD ========== */

    /* #region ====INTRODUCTION==== */
        .hello{
            grid-area: hello;
            display: inline-block;
            width: fit-content;
            height: fit-content;
            margin: 0;

            transform: rotate(90deg) translate(80%, 20%);
            transform-origin: bottom right;

            font-size: 2.4em;

            animation: rotate-hello var(--animation-speed-rotation) var(--delay-rotation) var(--animation-function-rotate) backwards;
        }

        @keyframes rotate-hello{
            from{
                transform-origin: 100% 84%;
                transform: rotate(45deg) translate(57%, 110%);
            }
        }
        
        .my-name{
            display: block;
            grid-area: name;
            width: fit-content;
            height: fit-content;
            margin: 0;

            font-weight: bold;
            font-size: 4em;
            line-height: 1em; 

            animation: rotate-name var(--animation-speed-rotation) var(--delay-rotation) var(--animation-function-rotate) backwards;
        }
        
        @keyframes rotate-name{
            from{
                transform: rotate(45deg) translate(0%, 0%);
                transform-origin: 60% 0%;
            }
        }

        .my-name span{
            display: block;
            overflow: hidden;
            white-space: nowrap;      
        }

        .my-name span:nth-child(2){
            padding-left: 3.5ch;
        }
    /* #endregion */

    /* #region ====OCCUPATION==== */
        .occupation{
            grid-area: occup;
            width: 23ch;
            height: fit-content;
            justify-self: end;
            align-self: end;
            margin: 0;

            transform: translate(8%, 0);

            font-weight: bold;
            font-size: 2em;
            line-height: 1em;
            font-family: 'Fira Mono', monospace;
        }    

        .occupation span.line-1{

            display: block;
            overflow: hidden;
            white-space: nowrap;
            animation: 
                typing-line-1 calc(23 * var(--animation-speed-typewriter))  steps(23) var(--delay-typewriter) backwards,
                caret-line-1 calc(23 * var(--animation-speed-typewriter))  steps(23) var(--delay-typewriter) backwards;
        }

        .occupation span.line-2{

            display: inline-block;
            padding-right: 0;
            overflow: hidden;
            white-space: nowrap;
            padding-left: 8ch;
            animation: 
                typing-line-2 calc(7 * var(--animation-speed-typewriter)) steps(7) calc(23 * var(--animation-speed-typewriter) + var(--delay-typewriter)) backwards,
                caret-line-2 calc(7 * var(--animation-speed-typewriter)) steps(7) calc(23 * var(--animation-speed-typewriter) + var(--delay-typewriter)) backwards,
                blinking-caret calc(7 * var(--animation-speed-typewriter)) steps(1, start) calc(30 * var(--animation-speed-typewriter) + var(--delay-typewriter)) infinite;
        }

        @keyframes typing-line-1 { from { width: 0ch } to { width: 23ch } }
        @keyframes caret-line-1 {
            0% {border-right: var(--caret) transparent;}
            1% {border-right: var(--caret) var(--main-color);}
            13% {border-right: var(--caret) var(--accent-color-1);}
            100% {border-right: var(--caret) var(--accent-color-1);}
        }

        @keyframes typing-line-2 { from { width: 8ch } to { width: 15ch } }
        @keyframes caret-line-2 {
            0% {border-right: var(--caret) transparent;}
            1% {border-right: var(--caret) var(--main-color);}
            100% {border-right: var(--caret) var(--main-color);}
        }

        @keyframes blinking-caret {
            50% {border-right: var(--caret) var(--main-color);}
        }

        @media (prefers-reduced-motion: reduce) {
            .typewriter { animation: none; border-right: none }
        }
    /* #endregion OCCUPATION*/

    .skills{
        grid-area: skills;
        display: grid;
        width: fit-content;
        height: fit-content;

        font-size: 1.3em;
        line-height: 1em;
        
        transform: rotate(90deg) translate(-20%, -5%);
        transform-origin: bottom right;

        margin: 0;
    }

    .skills span {
        opacity: 0;
    }

    
    /* #region ==== Skills Animation==== */
        .skills span:nth-child(1) { 
            transform: translateX(2em);
            animation-name: skills-down, skills-appear;
            animation-duration: calc(1 * var(--animation-speed-skills));
            animation-delay: var(--delay-skills);        
            animation-fill-mode: forwards;
        }

        .skills span:nth-child(2) { 
            animation-name: skills-appear;
            animation-duration: calc(1 * var(--animation-speed-skills));  
            animation-delay: 
                calc(var(--delay-skills) + 6 * var(--animation-speed-skills));              
            animation-fill-mode: forwards;
        }

        .skills span:nth-child(2) { 
            transform: translateY(-1em);
            animation-name: skills-down, skills-appear;
            animation-duration: calc(2 * var(--animation-speed-skills)), calc(1 * var(--animation-speed-skills));
            animation-delay: 
                calc(var(--delay-skills) + 6 * var(--animation-speed-skills)), 
                calc(var(--delay-skills) + 6 * var(--animation-speed-skills));
            animation-fill-mode: forwards, forwards;
            animation-timing-function: var(--animation-function-skills);    
        }

        .skills span:nth-child(3) { 
            transform: translateY(-2em);
            animation-name: skills-down, skills-appear;
            animation-duration: calc(3 * var(--animation-speed-skills)), calc(1 * var(--animation-speed-skills));
            animation-delay: 
                calc(var(--delay-skills) + 5 * var(--animation-speed-skills)), 
                calc(var(--delay-skills) + 5 * var(--animation-speed-skills));
            animation-fill-mode: forwards, forwards;
            animation-timing-function: var(--animation-function-skills);    
        }

        .skills span:nth-child(4) { 
            transform: translateY(-3em);
            animation-name: skills-down, skills-appear;
            animation-duration: calc(4 * var(--animation-speed-skills)), calc(1 * var(--animation-speed-skills));
            animation-delay: 
                calc(var(--delay-skills) + 4 * var(--animation-speed-skills)), 
                calc(var(--delay-skills) + 4 * var(--animation-speed-skills));
            animation-fill-mode: forwards, forwards;
            animation-timing-function: var(--animation-function-skills)    
        }

        .skills span:nth-child(5) { 
            transform: translateY(-4em);
            animation-name: skills-down, skills-appear;
            animation-duration: calc(5 * var(--animation-speed-skills)), calc(1 * var(--animation-speed-skills));
            animation-delay: 
                calc(var(--delay-skills) + 3 * var(--animation-speed-skills)), 
                calc(var(--delay-skills) + 3 * var(--animation-speed-skills));
            animation-fill-mode: forwards, forwards; 
            animation-timing-function: var(--animation-function-skills)
        }
        
        .skills span:nth-child(6) { 
            transform: translateY(-5em);
            animation-name: skills-down, skills-appear;
            animation-duration: calc(6 * var(--animation-speed-skills)), calc(1 * var(--animation-speed-skills));
            animation-delay: 
                calc(var(--delay-skills) + 2 * var(--animation-speed-skills)), 
                calc(var(--delay-skills) + 2 * var(--animation-speed-skills));
            animation-fill-mode: forwards, forwards;
            animation-timing-function: var(--animation-function-skills)    
        }

        .skills span:nth-child(7) { 
            transform: translateY(-6em);
            animation-name: skills-down, skills-appear;
            animation-duration: calc(7 * var(--animation-speed-skills)), calc(1 * var(--animation-speed-skills));
            animation-delay: 
                calc(var(--delay-skills) + 1 * var(--animation-speed-skills)), 
                calc(var(--delay-skills) + 1 * var(--animation-speed-skills));
            animation-fill-mode: forwards, forwards;
            animation-timing-function: var(--animation-function-skills)    
        }
        @keyframes skills-down {
            to { transform: translateY(0) translateX(0); }
        }
        @keyframes skills-appear {
            to { opacity: 1; }
        }

    /* #endregion Skills Animation*/

    .hobbies-1{
        /* border: 1px green solid; */

        grid-area: hobbies-1;
        transform: rotate(90deg);
        display: inline-block;
        width: fit-content;
        height: fit-content;
        margin: 0 0;

        font-size: 1em;
        line-height: 1em;

        opacity: 0;
        transform: rotate(90deg) translate(-160%, 850%); 
        transform-origin: top left;
        animation: hobbies-1-slide 1.5s forwards;
        animation-delay: var(--delay-hobbies);
    }

    @keyframes hobbies-1-slide {
        to {
            transform: rotate(90deg) translate(-50%, 850%);  
            opacity: 1;                  
        }
    }    

    .hobbies-2{
        /* border: 1px green solid; */

        grid-area: hobbies-2;
        transform: rotate(90deg);
        display: inline-block;
        width: fit-content;
        height: fit-content;
        margin: 0 0;

        font-size: 1em;
        line-height: 1em;

        /* transform: rotate(90deg) translate(-80%, -230%); */
        opacity: 0;
        transform: rotate(90deg) translate(-180%, -200%);
        transform-origin: top left;  
        
        animation: hobbies-2-slide 1.5s forwards;
        animation-delay: var(--delay-hobbies);

    }

    @keyframes hobbies-2-slide {
        to {
            transform: rotate(90deg) translate(-80%, -200%); 
            opacity: 1;                  
        }
    }
/* #endregion */


/* #region ========== FOOTER ========== */
footer{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;

    margin-top: auto;
    margin-bottom: 0;
    gap: 0.3em;
    width: 100%;
    height: 5em;
    background-color: #2d2d2d69;    
}

.social {
    display: flex;
    width: fit-content;
    gap: 1.5em;

    grid-column: 2;
    margin: auto;
}

footer svg{
    display: block;
    fill: var(--main-color);
    width: 2em;
    transition: transform 0.2s, fill 0.2s;
}

footer svg:hover{
    fill: var(--accent-color-2);
    transform: scale(1.2);
}

p.copyright{
    font-size: 0.8em;
    grid-column: 3;
    margin: auto 1.5em 0.4em auto;
}
/* #endregion FOOTER */


h1{
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    font-size: 3em;
}



/* #region ========== ABOUT ME ========== */

    h1.about-me{
        text-shadow: 2px 2px 2px rgb(from var( --accent-color-1) r g b / 0.6);
    } 

    .my-photo.about-me{
        grid-row: 2;
        grid-column: 1;
        transform: translateX(var(--curtain-center-distance));
        animation: 
            curtain-left-normal var(--animation-speed-curtain) var(--delay-about-me) backwards,
            photo-appear var(--animation-speed-curtain) var(--delay-about-me) backwards;
    }
    @keyframes curtain-left-normal {
        from { transform:  translate(25vw, 0);}
        to { transform:  translate(var(--curtain-center-distance));}
    }

    .text.about-me{
        grid-row: 2;
        grid-column: 2;
        padding: 8em;

        transform: translateX(calc(-1 * var(--curtain-center-distance)));
        animation: 
            curtain-right var(--animation-speed-curtain) var(--delay-about-me) backwards,
            photo-appear var(--animation-speed-curtain) var(--delay-about-me) backwards;
}
/* #endregion ABOUT ME */

div.my-hobbies,
div.my-projects{
    grid-row: 2;
    grid-column: 1 / -1;
    display: grid;
    grid-auto-rows: auto;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 5em;
    gap: 14em;
}

.hobby,
.project{
    display: grid;
    grid-auto-rows: auto;
    gap: 3em;
}

.hobby h2,
.project h2{
    /* margin: auto 0 auto auto; */
}

.hobby p,
.project p {
    width: 80ch;
    margin: auto;
}

/* #region ========== MY HOBBIES ========== */

    h1.my-hobbies,
    .my-hobbies h2{
        text-shadow: 2px 2px 2px rgb(from var( --accent-color-3) r g b / 0.6);
    }

/* #endregion MY HOBBIESE */

/* #region ========== MY PROJECTS ========== */

    h1.my-projects,
    .my-projects h2{
        text-shadow: 2px 2px 2px rgb(from var( --accent-color-2) r g b / 0.6);
    } 

/* #endregion MY PROJECTS */