.wraper {
  display: flex;
  flex-direction: row;
}

.title {
  text-shadow: 2px 2px 2px rgb(from var(--accent-color-1) r g b / 0.6);
}

.myPhoto {
  transform: translateX(var(--curtain-center-distance));
  animation:
    curtain-cloud-about var(--animation-speed-curtain) var(--delay-about-me)
      backwards,
    appear-about var(--animation-speed-curtain) var(--delay-about-me) backwards;
}

@keyframes curtain-cloud-about {
  from {
    transform: translate(25vw, 0);
  }
  to {
    transform: translate(var(--curtain-center-distance));
  }
}

.text {
  padding: 8em;
  transform: translateX(calc(-1 * var(--curtain-center-distance)));
  animation:
    curtain-photo-about var(--animation-speed-curtain) var(--delay-about-me)
      backwards,
    appear-about var(--animation-speed-curtain) var(--delay-about-me) backwards;
}

.text p {
  margin-top: 0.6em;
}

@keyframes curtain-photo-about {
  from {
    transform: translateX(-25vw);
  }
  to {
    transform: translate(calc(-1 * var(--curtain-center-distance)));
  }
}

@keyframes appear-about {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
